{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="form">
        <h3>Log In</h3>
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again</p>
            {{ form.errors }}
        {% endif %}
        <form method="post" action="{% url 'login' %}"> {% csrf_token %}
            {% for field in form %}
                <div class="form-row">
                    <div class="col-sm-4">
                        {{ field.label }}
                    </div>
                    <div class="col">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-sm btn-secondary">Sign In</button>
            <input type="hidden" name="next" value="{% url 'post_list' %}">
        </form>
        <p>No account? <a href="{% url 'register' %}">Sign up</a></p>
    </div>
{% endblock %}